.main_container{
    width: 100%;
    height: max-content;
    display: flex;

}
.category{
    width: 20%;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    padding: 10px 0px;

}
.all_product{
    width: 80%;
    height: 100%;
    border: 1px solid gray;
    /* padding: 10px; */
    /* display: flex;
    float: left; */
}
.filter_card{
    float: left;
    margin: 10px 0px 10px 10px;
}