{% load cart %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider2</title>

    <link rel="stylesheet" href="../../static/css/limited_product.css">
</head>

<body>
    <div class="product_section_title">
        <h3>Mobiles</h3>
        <span><a href="">See all</a></span>
    </div>
    <div class="limited_product">
        {% for product in limited_product %}
        <div class="filter_card">
            <a href="/product_details/{{ limited_product.id }}" style="text-decoration: none;">
                <div class="product_card" id='{{limited_product.id}}'>
                    <div class="product_img">
                        <img src="download/{{product.img}}" alt="">
                        <div class="heart_icon">
                            <i class="fa fa-heart" aria-hidden="true"></i>

                        </div>
                    </div>
                    <div class="product_body">
                        <div class="product_title">
                            {{ product.name }}
                        </div>
                        <div class="product_desc">
                            {{product.des}}
                        </div>
                        <div class="product_price">
                            <div class="actula_price">
                                {{product.price | rupee_symbol }}
                            </div>
                            <div class="selling_price">
                                <del>499</del>
                            </div>
                            <div class="discount">
                                50%
                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        {% if product|in_cart:request.session.cart %}
                        <div class="added_in_cart">
                            <form action="/#{{product.id}}" method='POST'>
                                {% csrf_token %}
                                <input type="text" hidden value="{{ product.id }}" name="pro_id">
                                <input type="text" hidden value="True" name="remove">
                                <input type="submit" value=" - " class="minus_btn">
                            </form>
                            <input type="text" value="{{ product | quantity:request.session.cart }} in cart"
                                class="product_in_card_container">
                            <form action="/#{{product.id}}" method='POST'>
                                {% csrf_token %}
                                <input type="text" hidden value="{{ product.id }}" name="pro_id">
                                <input type="submit" value=" + " class="pluse_btn">
                            </form>
                        </div>
                        {% else %}
                        <!-- <input type="submit" class="footer_btn" value="Add to Cart"> -->
                        <form action="/#{{product.id}}" method='POST'>
                            {% csrf_token %}
                            <input type="text" hidden value="{{ product.id }}" name="pro_id">
                            <input type="submit" value="Add to cart" class="footer_btn ">
                        </form>
                        {% endif %}
                    </div>

                </div>
            </a>
        </div>
        {% endfor %}
    </div>


    <!-- <script src="../static/js/jquery.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script> -->


    <!-- <script src="../static/js/owl.carousel.min.js"></script> -->
</body>


</html>