{% extends 'base.html' %}
{% load static %}
{% load cart %}

{% block cssfile %}
<link rel="stylesheet" href="../static/css/all_product.css">
<link rel="stylesheet" href="../static/css/card.css">
{% endblock %}

{% block content %}

<div class="main_container">
    <div class="category">
        {% include 'filters/mobile_filters.html' %}
    </div>
    <div class="all_product">
        {% for mobile in all_mobiles %}
        <div class="filter_card">
            <a href="/product_details/{{ product.id }}" style="text-decoration: none;">
                <div class="product_card" id='{{mobile.id}}'>
                    <div class="product_img">
                        <img src="/download/{{mobile.img}}" alt="">
                        <div class="heart_icon">
                            <i class="fa fa-heart" aria-hidden="true"></i>
    
                        </div>
                    </div>
                    <div class="product_body">
                        <div class="product_title">
                            {{ mobile.name }}
                        </div>
                        <div class="product_desc">
                            {{mobile.des}}
                        </div>
                        <div class="product_price">
                            <div class="actula_price">
                                {{mobile.price | rupee_symbol }}
                            </div>
                            <div class="selling_price">
                                <del>499</del>
                            </div>
                            <div class="discount">
                                50%
                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        {% if mobile|in_cart:request.session.cart %}
                        <div class="added_in_cart">
                            <form action="/#{{mobile.id}}" method='POST'>
                                {% csrf_token %}
                                <input type="text" hidden value="{{ mobile.id }}" name="pro_id">
                                <input type="text" hidden value="True" name="remove">
                                <input type="submit" value=" - " class="minus_btn">
                            </form>
                            <input type="text" value="{{ mobile | quantity:request.session.cart }} in cart"
                                class="product_in_card_container">
                            <form action="/#{{mobile.id}}" method='POST'>
                                {% csrf_token %}
                                <input type="text" hidden value="{{ mobile.id }}" name="pro_id">
                                <input type="submit" value=" + " class="pluse_btn">
                            </form>
                        </div>
                        {% else %}
                        <!-- <input type="submit" class="footer_btn" value="Add to Cart"> -->
                        <form action="/#{{mobile.id}}" method='POST'>
                            {% csrf_token %}
                            <input type="text" hidden value="{{ mobile.id }}" name="pro_id">
                            <input type="submit" value="Add to cart" class="footer_btn ">
                        </form>
                        {% endif %}
                    </div>
    
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}