{% extends 'base.html' %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="../static/css/card.css">

{% endblock %}

{% block content %}

{% load cart %}
<div class="main_section">
    <div class="row">

        <!-- category section -->
        <div class="products_category col-2">
            {% include 'category.html' %}
        </div>

        <!-- product section -->
        <div class="col-10">

            <!-- top slider -->
            <div class="top_slider">
                {% include 'slider.html' %}
            </div>

            <!-- other card -->
            <div class="section_products">
                {% include 'categories_product/men_wear.html' %}
            </div>

            <!-- limitted products -->
            <div class="product_section">
                {% include 'categories_product/limited_product.html' %}
            </div>

            <!-- lady wear -->
            {% include 'categories_product/women_wear.html' %}

        </div>

        

    </div>
</div>
</div>


{% endblock %}