{% extends 'base.html' %}

{% block cssfile %}
<link rel="stylesheet" href="../static/css/no_product_in_cart.css">
{% endblock %}

{% block content %}
<div class="no_pro_in_">
    <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error numquam explicabo ipsam quod ex porro blanditiis veritatis quia, laboriosam doloribus! In mollitia minima aliquid, aut molestias earum rem totam officia. Error, rem, ex repellendus id quia natus quaerat praesentium facilis fuga esse sapiente consectetur, recusandae culpa atque! Soluta.
</div>
<div class="back_to_home_btn">
    <button>Back to Home</button>
</div>
</div>

{% endblock %}