{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="../static/css/details.page.css">
{% endblock %}

{% block content %}

<div class="details_container">
    <div class="row">
        <div class="col md-6 details_product_img">
            <img src="/download/{{details_page.img}}" alt="">

        </div>
        <div class=" col md-6 details_product_about">
            <h3 class="product_title">
                {{ details_page.name }}
            </h3>
            <p class="product_detaila">{{ details_page.des }}</p>
            <div class="product_price_section">
                <span class="product_actual_price">{{ details_page.price }}</span>
                <span class="product_off"> 50%</span>
                <span class="product_selling
                _product"> <del>20000</del> </span>
            </div>
            <div class="details_product_footer">
                <a href="#"> Add to cart</a>
                <a href="#"> Buy now</a>
            </div>
        </div>
    </div>
</div>
<div class="similar_product_card">
    <!-- {% include 'categories_product/men_wear.html' %} -->
</div>

{% endblock %}