{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="../static/css/details.page.css">
{% endblock %}

{% block content %}

<div class="details_container">
    <div class="row">
        <div class="col md-6 details_product_img">
            <img src="download/{{ details_page.img }} alt="">
            
        </div>
        <div class=" col md-6 details_product_about">
            <h3>
                {{ details_page.name }}
            </h3>
            <p>{{ details_page.des }}</p>
            <p>{{ details_page.price }}</p>
            <div class="details_product_footer">
                <a href="#"> Add to cart</a>
                <a href="#"> Buy now</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}