{% extends 'base.html' %}
{% block content %}
<div class="container">

    <form method="POST">
      <h3 class="my-3 signUpHeading">Sign In</h3>
      {% csrf_token %}

      <!-- error messages -->
      {% if messages %}
      <div class="alert alert-success" >
        {% for msg in messages %}
        {{ msg }}
        {% endfor %}
      </div>
      {% endif %}
      

      <!-- input fields -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="user_name" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="accountLink">
          <a href="">Create an account</a>
        </div>
      </form>
</div>
{% endblock %}