<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider</title>
    <link rel="stylesheet" href="../static/css/slider.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">


    <script src="../static/js/owl.carousel.js"></script>

</head>

<body>


    <div class="owl-carousel owl-theme">
        <div><a href=""><img src="../static/media/pexels-andy-vu-3244513.jpg" alt=""></a></div>
        <div><a href=""><img src="../static/media/pexels-pixabay-33545.jpg" alt=""></a></div>
        <div><a href=""><img src="../static/media/pexels-pixabay-268533.jpg" alt=""></a></div>
        <div><a href=""><img src="../static/media/pexels-uzunov-rostislav-5011647.jpg" alt=""></a></div>
    </div>


    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>


    <!-- <script src="../static/js/owl.carousel.min.js"></script> -->
    <script>
        $('.owl-carousel').owlCarousel({
            autoplay: true,
            items: 1,
            // margin: 0,
            loop: true,
            lazyLoad: true,
            dots: true,
            dotsEach:true,
            autoplayHoverPause: true,
            autoplayTimeout: 2000,
        })
    </script>
</body>


</html>