{% extends 'base.html' %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}

{% block content %}
{% load cart %}

<div class="container" style="width: 50%; ">
  <!-- show message -->
  {% if messages %}
  <div class="alert alert-danger" role="alert">
    {% for msg in messages %}
    {{ msg }}
    {% endfor %}
  </div>
  {% endif %}

  <!-- total amount for payment -->
  <div>
    <h3>Total : {{ cart_product | total_cart_price:request.session.cart | rupee_symbol }}</h3>
  </div>

  <!-- all product list -->
  <div>
    <h5>All product are : {{ total_no_of_items }}</h5>
  </div>

  <!-- cart list section -->
  <div class="row hello" style="width: 100%; height: 100px; border: 1px solid gray; overflow: scroll;">
    <div class="col-md-8">
      <table class="table">
        <tbody>
          {% for items in cart_product %}
          <tr>
            <!-- <th scope="row">{{ forloop.counter }}</th> -->
            <td>
              <img src="{{ items.img.url }}" alt="" style="width: 50px; height: 23px; object-fit: cover;">
            </td>
            <td>{{items.name}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table">
        <tbody>
          {% for key, value in items_of_a_product.items %}
          <tr class="text-center">
            <td>
              {{ value }} <span>Qty</span>
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- address section -->
  <span">Please select address</span>
    <div class="address" style="border: 1px solid gray; width: 100%; height: 150px; overflow: scroll;">

      {% for address in userAddress %}
      <div>
        {{address.name}}<br />
        {{address.mobile}}<br />
        {{address.local_address}}<br />
        {{address.city}}
        <hr>
      </div>
      {% endfor %}

    </div>
    <div>
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add new Address
      </button>
    </div>

    <!-- final amount -->
    <div class="total_amount">
      <span>Amount : {{ cart_product | total_cart_price:request.session.cart | rupee_symbol }}</span>
      <br>
      {% if cart_product|total_cart_price:request.session.cart <= 500 %} <span>Delivery : {{delivey_charge}}</span> <br>

        {% else %}
        <span>Free Delivery </span><br>
        {% endif %}

        <!-- total amount -->
        <span>Total amount : {{ cart_product | total_cart_price:request.session.cart | rupee_symbol }}</span>


        <!-- refers to payment button -->
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      
      

      <form action="https://www.example.com/payment/success/" method="POST">
        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_3Xjh9rRVSDJ3Lu" data-amount='50000'
            data-currency="INR" 
            data-order_id='{{payment.id}}' 
            data-buttontext="Place order" 
            data-name="E-shop"
            data-description="Pay with sefty"
            data-image="https://picsum.photos/110/110" 
            data-prefill.name="Rahul Kumar"
            data-prefill.email="rahul.kumar@example.com" 
            data-theme.color="#63c9e0">
            </script>
    
        <input type="hidden" custom="Hidden Element" name="hidden">
    </form>



    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- show message -->
            {% if messages %}
            <div class="alert alert-danger" role="alert">
              {% for msg in messages %}
              {{ msg }}
              {% endfor %}
            </div>
            {% endif %}

            <form method="POST">
              {% csrf_token %}
              <input type="text" hidden value='{{ request.session.user_id }}' name='userid'>
              <input type="text" class="form-control" name="name" placeholder="Name" style="margin-bottom: 10px;"
                required>
              <input type="text" class="form-control" name="mobile" placeholder="Mobile no" style="margin-bottom: 10px;"
                required>
              <input type="text" class="form-control" name="address" placeholder="Local address"
                style="margin-bottom: 10px;" required>
              <input type="text" class="form-control" name="lend_mark" placeholder="Land_mark"
                style="margin-bottom: 10px;" required>
              <input type="text" class="form-control" name="city" placeholder="City" style="margin-bottom: 10px;"
                required>
              <input type="text" class="form-control" name="pin" placeholder="Pin Code" style="margin-bottom: 10px;"
                required>
              <input type="text" class="form-control" name="state" placeholder="State" style="margin-bottom: 10px;"
                required>
              <div class="modal-footer">
                <input type="submit" value="Add" target='#exampleModal'>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>




</div>



{% endblock %}



<script>
  var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })

</script>