{% extends 'base.html' %}

{% block content %}
{% load cart %}

<div class="container" style="width: 40%; border: 1px solid gray; height: max-content;">

    <div>
        <h4>Total amount : <span>{{ cart_product | total_cart_price:request.session.cart | rupee_symbol }}</span></h4>
    </div>
    <hr color="lightgreen">
    <!-- <div class="product" >
        <h5>All Products are : <span>{{total_items_in_cart}}</span></h5>
        <div style="border: 1px solid gray; position: relative;">
            <div style="width: 70%; position: absolute; right: 0; padding-top: 4px;">
                <table class="table">
                    <tbody>
                        {% for items in cart_product %}
                        <tr>
                            <td><img src="{{ items.img.url }}" alt=""
                                    style="width: 50px; height: 30px; object-fit: cover;">
                            </td>
                            <td>{{ items.name }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="width: 30%;">
                <table class="table">
                    <tbody>
                        {% for key, value in cart1.items %}
                        <tr>
                            <td>
                                {{value }} <span>Qty</span>
                            </td>
                            {% endfor %} 
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div> -->
    <!-- <div class="we_accept">
        <span>Price : {{ cart_product | total_cart_price:request.session.cart | rupee_symbol }}</span><br>

        {% if cart_product|total_cart_price:request.session.cart <= 500 %} 
        <span>Delivery : {{delivery_charge |
            rupee_symbol}} </span><br>

            {% else %}
            <span>Free Delivery </span><br>
            {% endif %}

            <span>Total Price : {{cart_product|total_cart_price:request.session.cart }} </span>
    </div> -->


    <!-- Payment method -->
    <!-- <div>
        <span>Cash on Delivery</span><br>
        <span>Google Pay</span><br>
        <span>Phone Pay</span><br>
        <span>Net Banking</span><br>

    </div> -->
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Google Pay
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Phone Pay
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Net Banking
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Cash on Delivery
        </label>
    </div>




    <div class="payment_btn" style="text-align: right;">
        <button>Payment</button>
    </div>

</div>



<form action="https://www.example.com/payment/success/" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_3Xjh9rRVSDJ3Lu" data-amount='50000'
        data-currency="INR" 
        data-order_id='{{payment.id}}' 
        data-buttontext="Place order" 
        data-name="E-shop"
        data-description="Pay with sefty"
        data-image="https://picsum.photos/110/110" 
        data-prefill.name="Rahul Kumar"
        data-prefill.email="rahul.kumar@example.com" 
        data-theme.color="#63c9e0">
        </script>

    <input type="hidden" custom="Hidden Element" name="hidden">
</form>


{% endblock %}

<!-- {% for key, value in cart1.items %}
{{ value }}
{% endfor %} <span>qty</span> -->